#ifndef __{{ app_name }}_h_
#define __{{ app_name }}_h_

#include "BaseApplication.h"

class {{ app_name }} : public BaseApplication
{
public:
    {{ app_name }}(void);
    virtual ~{{ app_name }}(void);

protected:
    virtual void createScene(void);
};

#endif // #ifndef __{{ app_name }}_h_
